@import url('https://www.cdnfonts.com/impact.font');

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html,
body {
   max-width: 100vw;
   overflow-x: hidden;
}

body {
   color: black;
   background: linear-gradient(#d6dbdc, #fff);
   padding: 1rem;
}

main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   padding: 1rem 0;
}
